<section id="speakers" class="section-accent">
  <div>
    <h1>
      Ponentes de la jornada
    </h1>
    <hr>
    <div class="speakers">
      {% for speaker in site.data.speakers %}
      <div class="speaker">
        <img src={{speaker.avatar}} alt={{speaker.name}} class="avatar">
        <h3>{{speaker.name}}</h3>
        <p class="twitter">
        {% if speaker.twitter != "" and speaker.twitter != nil %}
          <a href="https://twitter.com/{{speaker.twitter}}" target="_blank" title={{speaker.twitter}}>
          @{{speaker.twitter}}
          </a>
        {% endif %}
        </p>
        <p class="bio">
         {{speaker.bio}}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
